/* \/ */

.restos {
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1rem;
}

.restoList {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap:1.5rem;
}

.restoCard {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 1rem;
  flex-direction: column;
  height: 400px;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 14px rgba(0,0,0,0.1);
}

@media screen and (max-width: 768px) {
  .restoCard {
    flex-direction: column;
    align-items: flex-start;
  }

  .restoCard img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}